.title-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin: 5em 0;
  z-index: 100;
  .products-title {
    font-size: 1.5em;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;

    &:after {
      content: "";
      position: absolute;
      top: 17%;
      left: 0;
      width: 100%;
      border: 1px solid var(--mainColor);
      z-index: -1;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%;
      border-bottom: 2px solid var(--mainColor);
      z-index: -1;
    }
  }
}
