.aside-category {
  box-shadow: 0px 0px 5px 0px rgba(#000, 0.1);
  padding: 0.5em;
  margin: 0.5em auto;

  .heading-title {
    .box-heading {
      width: 97%;
      background-color: var(--mainColor);
      color: #fff;
      padding: 0.5em;
      margin: 0.5em auto;
    }
  }
  .box-content {
    .box-category {
      padding: 0.5em;
      font-size: 0.9rem;
      line-height: 1.7rem;
      li {
        a {
          transition: 0.3s ease-in-out;
          &:hover {
            color: var(--mainColor);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
