.aside-category {
  .box-content {
    .box-category {
      padding: 0.5em;
      font-size: 0.9rem;
      line-height: 1.7rem;
      li {
        a {
          transition: 0.3s ease-in-out;
          &:hover {
            color: var(--mainColor);
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
