.category {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5em;

  .active {
    background-color: var(--mainColor);
    color: #fff;
  }
  ul {
    display: flex;
    justify-content: center;
    padding: 1em;

    li {
      margin-left: 1.5em;
      margin-top: 0.5em;
      width: 10em;

      a {
        padding: 0.5em;
        display: block;
        transition: 0.5s ease-in-out;

        &:hover {
          background-color: var(--mainColor);
          color: #fff;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 63em) {
  .category {
    ul {
      flex-wrap: wrap;
      align-items: center;
      // background-color: #efefef;
      box-shadow: 0px 0px 5px 0px rgba(#000, 0.3);
    }
  }
}

@media (max-width: 40em) {
  .category {
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}
