.text-banner {
	background-image: url("../../../../assets/images/img/banner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 17em;
	margin: 3em auto;
	position: relative;
	color: #fff;

	.overlay {
		background-color: rgba(#000, 0.5);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3em;

		i {
			color: var(--mainColor);
			font-size: 2rem;
		}
	}
}
