.nav {
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  background: var(--mainColor);

  .active {
    position: relative;

    &:focus:after,
    &:active:after {
      width: 50%;
      margin: auto;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 5px;
      right: 50%;
      transform: translate(50%, 0);
      width: 0%;
      height: 2px;
      margin: auto;
      background-color: #fff;
    }
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;

    &:after {
      content: "";
      position: absolute;
      top: 17%;
      left: 0;
      width: 100%;
      border: 1px solid var(--mainColor);
      z-index: -1;
    }
    &:before {
      content: "";
      position: absolute;
      top: 23%;
      left: 0;
      width: 100%;
      border: 1px solid var(--mainColor);
      z-index: -1;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    padding: 0.2em;

    li {
      margin-left: 1.5em;
      width: 10em;

      a {
        text-transform: capitalize;
        padding: 0.5em;
        display: block;
        transition: 0.5s ease-in-out;
        color: #fff;

        &:hover {
          background-color: var(--mainColor);
          color: #000;
          transition: 0.5s ease-in-out;
        }
      }
    }
  }
}
